*{
    margin: 0;
}
.primary-btn{
    background: #FF5959;
    border-radius: 5px;
    font-size: 25px;
    padding: 16px 12px;
    color: white;
    border: none;
}
/* header section */
.header{
    background-image: url('images/donation13.jpg')  ;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
    
}
.header-container{
    display: block;
    padding-top: 300px;
    text-align: center;
    font-weight: 700;

}
.header-title{
    font-size: 40px;
    color: white;

}
.header-description{
    font-size: 20px;
    color: white;
    padding: 0 20px;
    font-weight: 900;
    margin: 50px;

}
/* donate today section */
.donate-container{
    display: inline-block;
    padding: 10px;
    margin-left: 150px;
}
.donate-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.donate-desceiption{
    font-size: 18px;
    color: #707070;
    text-align: center;
    margin-top: 15px;
}
.donate-main{
    display: flex;
}
.donate-money{
    padding: 30px;
    margin-right: 50px;
    border-radius: 5px;
    color: #707070;
    font-weight: bolder;
    background: lightgray;
    margin-top: 10px;

}
.donate-money:hover{
    background-color: #FF5959;
}
.money-info{
    font-size: 25px;

}
.donate-footar{
    text-align: center;
    margin-top: 10px;
}
.donate-taka{
    font-size: 18px;
    color: #b3b3b3;
    font-weight: 700;
    margin-bottom: 20px;
}

.donate-btn{
    text-align: center;
    margin-top: 20px;
}
/* our donate plan start */
.our-main-container{
    margin-top: 40px;
}
.our-header{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
    color: black;
    padding-bottom:20px ;

}
.our-description{
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    font-weight: 600;
    color: #707070;
    padding: 10px 40px;
    margin-bottom: 20px;
}
.our-div-container{
    display: flex;
    margin: 0 80px;
    
}
.our-help1{
    border:3px solid;
    border-radius: 5px;
    width: 600px;
    height: 350px;
    margin: 10px 50px;
    background: rgb(82, 236, 11);
    border: none;
    
    
}
.our-help1:hover{
    box-shadow: 15px 15px 10px gray;
}
.food{
    width: 50px;
    height: 50px;
    padding: 5px 18px;
    margin-top: 10px;
    
}
.our-help2{
    border:3px solid;
    border-radius: 5px;
    width: 600px;
    height: 350px;
    margin: 10px 50px;
    background: rgba(19, 207, 228, 0.979);
    border: none;
}
.our-help2:hover{
    box-shadow: 15px 15px 10px grey;}

.shelter{
    width: 50px;
    height: 50px;
    padding: 5px 18px;
    margin-top: 10px;



}
.our-help3{
    border:3px solid;
    border-radius: 5px;
    width: 600px;
    height: 350px;
    margin: 10px 50px;
    background: rgba(8, 123, 231, 0.247);
    border: none;
}
.our-help3:hover{
    box-shadow: 15px 15px 10px gray;}
.education{
    width: 50px;
    height: 50px;
    padding: 5px 18px;
    margin-top: 10px;


}
.help-titel{
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 15px;
    color:#121212;
    
}
.help-description{
    font-size:16px;
    font-weight: 900;
    color: #707070;
    padding: 5px 20px;
}
/* banner section 1 */
.banner-container{
    display: flex;
    margin-left: 100px;
    margin-right: 150px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
.banner-main{
    margin: 20px 100px;
}
.banner-titel{
    font-size: 45px;
    text-align: left;
    font-weight: 800;
}
.banner-description{
    font-size: 18px;
    font-weight: 700;
    color: #707070;
    text-align:left;
    margin-top: 30px;
}
.banner-main,button{
    text-align: left;
    margin-top: 30px;
}
.help-1{
    width: 400px;
    height: 450px;
}
/* banner 2 section */
.banner-container2{
    display: flex;
    margin-left: 100px;
    margin-right: 170px;
    text-align: center;
}
.banner-main2{
    margin: 20px 100px;
}
.help-2{
    width: 400px;
    height: 450px;
}
.banner-title-2{
    font-size: 45px;
    text-align: left;
    font-weight: 800;
}
.banner-description2{
    font-size: 20px;
    font-weight: 700;
    color: #707070;
    text-align:left;
    margin-top: 30px;
}
.banner-main2,button{
    text-align: left;
    margin-top: 30px;
}
/* update container */
.update-container{
    text-align: center;
    margin-top: 20px;
    
}
.update-title{
    font-size: 45px;
    font-weight: 800;
    margin-top: 30px;
    
}
.update-description{
    text-align: center;
    margin: 20px 300px;
    font-size: 18px;
    color: #707070;
}
/* user container section */
.user-container{
    background: #FFF4D6;
    width: 800px;
    height: 200px;
    margin-left: 200px;
}
.email-section{
    align-items: center;
    margin-left: 180px;
    padding-top: 60px;
    /* margin-right: 60px; */

}
#email{
    font-size: 20px;
    background: #D9D9D9;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    border: none;

}
.email-section input,placeholder{
    text-align: center;
    color: #707070;
    font-size: 17px;
}
/* footer section */
.footer-main{
    background: #0B0D17;
    height: 140px;
    margin-top: 120px;
}
.footer-title{
    font-size: 36px;
    color:#FF5959;
    text-align: center;
    padding-top: 25px;

    
}
.footer-description{
    font-size: 18px;
    color: #D9DBE1;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}
/* project done */

/* small device */
@media screen and ( max-width:576px) {
    .header-container{
        padding: 15px 0;
    }
    .header-container>.primary-btn{
        position: relative;
        left: 10px;
    }
    .header-title{
        position: relative;
        top:100px
    }
    .header-description{
        position: relative;
        top: 80px;
    }
    .donate-container{
        margin-left: 0;
    }
        
    .donate-btn{
        position: relative;
        left: 100px;
        top: -90px;
    }
    .donate-title{
        margin-left: -20px;
        margin-top: 50px;
    }
    .donate-desceiption{
        margin-left: -30px;
        padding: 10px 80px;
    }
    .donate-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 50px;
    }
    .our-description{
        padding: 30px;
        position: relative;
        bottom: 90px;
    }
    .our-div-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .our-help1,.our-help2,.our-help3{
        width: 200px;
        height: 350px;
        position: relative;
        bottom: 100px;
    }
        
    .our-header{
        position: relative;
        bottom: 70px;
    }
    .help-description{
        width: 200px;
        height: 300px;
        position: relative;
        bottom: 10px;
        left: -15px;
    }
    .banner-titel{
        width: 100px;
        height: 150px;
        position: relative;
        right: 200px;
        top:-70px;
        padding: 10px 100px;
    }
    .banner-description{
        position: relative;
        right: 150px;
        top: 70px;

    }
    .primary-btn{
        position: relative;
        top: 60px;
        right: 100px;
    }
    .help-1{
        position: relative;
        top: 600px;
        right: 600px;
    }
    .help-2{
        position: relative;
        top: 500px;
        right: 120px;
    }
    .banner-title-2{
        position: relative;
        top: 980px;
        right: 470px;
    }
    .banner-description2{
        position: relative;
        right: 470px;
        top: 980px;
        margin-bottom: 800px;
    }
    .banner-main2>.primary-btn{
        position: relative;
        top: 220px;
        right: 470px;
        padding: 20px;
    }
    .update-title{
        position: relative;
        top:200px
    }
    .update-description{
        position: relative;
        top: 200px;
        right: 180px;
        margin-bottom: 800px;
    }
    .user-container{
        margin-left: 0;
        position: relative;
        bottom: 680px;
    }
    #email{
        position: relative;
        left: -120px;
        top:-50px;
    }
    .email-section>.primary-btn{
        position: relative;
        right: 320px;
    }
    .footer-main{
        position: relative;
        top: 5000px;
    }
    main{
        height: 100vh;
    }
        
    
}
/* medium device */
@media screen and (min-width:577px) and (max-width:900px) {
    .donate-title{
        position: relative;
        right: 50px;
    }
    .donate-desceiption{
        position: relative;
        right: 50px;
    }
    .donate-main{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        position: relative;
        right: 50px;
    }
    .donate-taka{
        position: relative;
        right: 70px;
        top: 20px;
    }
    .donate-btn>.primary-btn{
         position:relative;
         top: 0px;
         right: 80px;
    }
    .help-description{
        position: relative;
        width: 180px;
    }
    .our-help1,.our-help2,.our-help3{
        margin-left: -38px;

}
    .banner-titel{
    position: relative;
    right: 100px;
}
    .help-1{
        position: relative;
        right: 100px;
}
.banner-description{
    position: relative;
    top: 20px;
    right: 100px;
}
.banner-main>.primary-btn{
    position: relative;
    top: 40px;
}
.banner-title-2{
    position: relative;
    bottom: 40px;
}
.banner-description2{
    position: relative;
    bottom: 60px;
}
.banner-main2>.primary-btn{
    position: relative;
    bottom: 80px;
}
.update-title{
    position: relative;
    bottom: 50px;

}
.update-description{
    position: relative;
    bottom: 20px;
}
.user-container{
    position: relative;
    right: 200px;
}



}